.content {
  margin-top: 20px;

  .banners {
    margin-top: 10px;
  }

  .cardWrapper {
    margin-top: 40px;

    .cardTitle {
      margin: 0;
    }
  }

  .contentDescription {
    margin-top: 50px;

    .contentDescriptionText {
      margin: 40px 0;
    }
  }
}